@import url('https://fonts.googleapis.com/css2?family=Sreda&display=swap');

/* General Page Styling */
body {
  font-family: 'Sreda', serif;
  margin: 0;

  background-color: #f2e7bf;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #1D2B1A;
 
}

/* Header with Flexbox for Left/Right Layout */
header {
  background-color: #252422;
  color:  #F2EDDB;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Site Title (Left Side) */
header .site-name {
  font-family: 'Sreda', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ccc5b9;
}

/* Navigation (Right Side) */
nav a {
  margin-left: 2em;
  color: #fffcf2;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Sreda', serif;
}

nav a:hover {
  text-decoration: underline;
}

/* Headings */
h1 {
  font-family: 'Sreda', serif;
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  color:  #252422;
}

h2 {
  font-family: 'Sreda', serif;
  color: #eb5e28;
  margin-top: 1em; 
  font-size: 1.5em;
}

/* Main Content */
main {
  text-align: left;
  padding: 1em 1em;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #1D2B1A;
}

/* Form Elements */
input, textarea, button {
  font-family: 'Sreda', serif;
  font-size: 1rem;
  padding: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

button {
  background-color: #26413C;
  color: white;
  border: none;
  margin-top: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #eb5e28;
}

p{
    color:#403d39;
}


.full-width-image img {
  width: 86%;
  height: auto;
  display: block;
  
  margin: auto;
  padding: 0;
}
